// Define variables for your color scheme

// For example:
$red: #EC592F;
$yellow: #FFC100;
$black: #000;
$gray: #E8E8E8;
$light-gray: #F6F6F6;
$medium-gray: #D8D8D8;
$dark-gray: #888;
$ipa: #92B0DB;
$stout: #EF9FA2;
$brown:#A38168;
$pale-ale: #98CC9F;
$belgian: #FF994E;
$porter: #9A8BC0;
$wheat: #FFDCAD;
$sour: #D5E29D;
$lager: #FFED86;
$dark: #9F928D;
$pilsner: #FFDCAC;
