<div class="container mt-4">
<<<<<<< HEAD
<h2> BeerWizard Users</h2>
=======
>>>>>>> 5118ec5e655f7d1fd25298ac3806fa33ec5610cd

<hr>

<div id= "user_index">


<%= render 'users/users_index', users: @users %>


</div>
</div>
