  <!-- beer card start -->
<div class="container mt-4">

 <!-- searchbar -->

    <%= render 'shared/searchbar' %>
<!-- -->

<!-- buttons -->

<button type="button" class="btn btn-secondary mt-4" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Beer Type
</button>
<p></p>
<a href="#" class="button-m">Follow</a>

<!-- buttons end -->

<p></p>
    <div class="card_beer">
      <div class="card_beer__beer"><%= image_tag "Sir-Wallac-Hivernale.png" %></div>
      <div class="card_beer__heart"><%= link_to "#" do %> <%= inline_svg_tag "like.svg" %><% end %></div>
    </div>
  <!-- beer card end -->
