  <!-- beer card start -->
<div class="container mt-4">
  <div class="card_beer">
    <div class="card_beer__beer">
      <div class="card_beer__heart"><%= image_tag("like.svg") %></div>
    </div>
  </div>
</div>

  <!-- beer card end -->
