<div class="container mt-4">

  <h1>Beers Index</h1>

  <!--Beer Search -->

  <%= render 'shared/searchbar' %>
  <!-- Beer card -->

  <div id= "beers_index">

    <%= render 'beers/card', beers: @beers %>

  </div>



<!-- review scripts w raty to rate -->
<script>
$(document).ready(function() {
  $('.review-rating').raty({
      readOnly: true,
      score: function() {
          return $(this).attr('data-score');
      },
      path: '/assets/'
  });
});
</script>
<!-- review scripts w raty to average -->
<script>
$(document).ready(function() {
  $('.average-review-rating').raty({
      readOnly: true,
      path: '/assets/',
      score: function() {
          return $(this).attr('data-score');
      },
  });
});
</script>
