.avatar_s {
  object-fit: cover;
  width: 29px;
  height: 29px;
  border-radius: 14.5px;
  border: 1px solid white;
  border: solid 3px rgba(255, 255, 255, .3);
}

/*
.badge {
  width: 10px;
  height: 10px;
  background-color: #e85b3f;
  font-family: AvenirNext-Bold;
  color: #fff;
  font-size: 7px;
  border-radius: 50%;
  text-align: center;
  vertical-align: super;
}
*/

.avatar_m {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
  border: solid 4px rgba(255, 255, 255, .3);
}

.avatar_l {
  width: 101px;
  height: 101px;
  border-radius: 50%;
  border: 1px solid white;
  border: solid 8px rgba(255, 255, 255, .3);
}

