.avatar {

  &__box {
    position: relative;

    &--has-badge {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $red;
      border-radius: 100%;
      top: 5px;
      left: 5px;
    }
  }
}

.avatar_s {
  object-fit: cover;
  width: 44px;
  height: 44px;
  border-radius: 100% ;
  border: solid 6px rgba(255, 255, 255, .3);
}

.avatar_s--has-no-border {
  object-fit: cover;
  width: 38px;
  height: 38px;
  border-radius: 100% ;
}

.avatar_m {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 4px rgba(255, 255, 255, .3);
}

.avatar_l {
  object-fit: cover;
  width: 101px;
  height: 101px;
  border-radius: 100%;
  border: solid 8px rgba(255, 255, 255, .3);
}

.avatar_user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 8px rgba(255, 255, 255, .3);
}

