.button-m {

  border : {
    style: solid;
    color: $medium-gray;
    width: 1px;
    radius: 3px;
  }
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rift-Demi;
  font-size: 13px;
  color: #606060;

  &:hover {
    text-decoration: none;
    color: #606060;
  }
}

.button-l {

}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.19);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 0 16px 0 0;
}

.bookmark {
  fill:  $red;
  width: 20px;
  display: flex;

   &:hover {
    opacity: 0.6;
   }

}
