.button-m {
  padding: 8px 24px;
  color: #000;
  border : {
    style: solid;
    color: $medium-gray;
    width: 1px;
    radius: 3px;
  }
  font : {
    family: 'Rift W05 Bold', 'Rift';
    size: 13px;
    weight: bold;
  }

  &--is-red {
    align-self: stetch;
    border-style: none;
    background-color: $red;
    color: #fff;
  }

  &--is-half {
    display: block;
    width: 100%;
    text-align: center;
  }

  &:hover {
    text-decoration: none;
    // color: #606060;
  }

  &:active {
    background-color: $red;
  }
}

.button-l {

}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.19);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 0 8px 0 0;

  &__bookmark {
      width: 20px;
      fill: $medium-gray;

      &--is-checked {
        fill:  $red;
    }
  }
}



.beer_type {
  background-color: $red;
  padding:24px;
  margin: 24px 0;

  .beer-type__button {
    display: inline-block;
    margin: 0 8px 8px 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 14.5px;
    padding: 6px 15px;
    text-decoration: none;
    font: {
      // font-family:'AvenirNextLTW01-Regular';
      size: 12px;
    }


    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

.back-button {
  width: 36px;
  height: 36px;
  background-color: $red;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    fill: #fff;
    width: 12px;
    height: 12px;
  }
}



