.card_social {
  //background: #f7f7f7;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 16px 0;

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__user {
    padding-left: 14px;

  }

  &__id {
    margin: 0;
    font-style: bold;
  }
     &__id a {
    color: black;
  }

  &__city {
    // font-family:"AvenirNextLTW01-Regular";
    font-size: 12px;
    margin: -6px 0 0;
  }
     &__city a {
    color: black;
  }

  &__button {
    height: 100%;
    width: 83px;

  }
}
