.card_social {
  color: #000000;
  background: #f7f7f7;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  width: 269px;
  height: 32px;

  .avatar {
    width: 32px;
    height: 32px;
  }
  &__id {
    width: 115px;
    height: 10px;
    font-family: "AvenirNextLTW01-Medium";
    font-size: 100%;
    font-weight: 800;
  }
  &__city {
    width: 80px;
    height: 14px;
    font-family:"AvenirNextLTW01-Regular";
    font-size: 12px;
    align-self: flex-end;
  }
  &__button {
    height: 100%;
    width: 83px;
  }
}
