.card_review {
  //background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 269px;

  &__comment {
    width: 263px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }

  &__rating {
    margin-bottom: 7px;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__user {
    padding-left: 14px;

  }

  &__id {
    margin: 0 0 4px 0;
    font-family: 'Avenir Next LT W01 Demi';
    a {
      color: black;
    }
  }

  &__city {
    // font-family:"AvenirNextLTW01-Regular";
    font-size: 12px;
    margin: -6px 0 0;
    a {
      color: black;
    }
  }
}
