.card_beer {
  // border: solid green 1px;
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  width: 130px;
  height: 200px;
  padding: 16px;

  &__beer {

    img {
      width: 78px;
    }
  }
  &__heart {
    // align-self: flex-start;
    top: 16px;
    right: 16px;
    line-height: 0;
    width: 18px;
    position: absolute;


    svg {
      fill: $red ;
    }
  }
}
