.card-user {
  padding: 8px;
  width: 101px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  background: #FFFFFF;
  border-radius: 6px;

  p {
    margin: 16px 0 16px 0;
    color: #000;
    font: {
      weight: medium;
    }
    line-height: 16px;
  }

  &__no-border {
    border-color: red;
  }
}
