.card_review {
  //background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 269px;

  &__comment {
    width: 263px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }

  &__rating {
    margin-bottom: 7px;
  }

  &__description {
  display:flex;
  }

  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

   &__id {
    width: 115px;
    font-family: "AvenirNextLTW01-Medium";
    font-size: 100%;
    font-weight: 800;
    color: #000000;
  }

  &__location {
    width: 80px;
    font-family:"AvenirNextLTW01-Regular";
    font-size: 12px;
    color: #000000;
    line-height: 8px;
    padding-bottom: 2px;
  }
}
