 .search-bar {
    width: 100%;
  }

  form.search-bar input {
    font-family: "AvenirNextLTW01-Regular";
    padding-left: 14px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    height: 43px;
    width: 100%;
    background: #e8e8e8;
  }
