.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__container {
    display: flex;
    justify-content: center;
    padding: 36px 0 0 0;
    background-color: $red;
    width: 100%;
  }

  &__list-item {
    // width: 375px;
    background-color: #fff;
  }

  &__content {
    text-align: center;
    padding-bottom: 16px;
  }

  &__avatar {
    padding-bottom: 8px;
  }

  &__infos {

  }

  &__numbers {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $red;
    height: 100%;
    padding: 0 0 36px 0;
    margin: 0;

    a {
      text-decoration: none;
    }

    p {
    font-weight: bold;
    color: #fff;
    margin: 0;
    }
  }

  &__switcher-content {
    width: 100%;
    margin-top: 24px;
  }

  &__reviews-btn {
    text-align: center;
    border-right: solid 1px rgba(255, 255, 255, .3);
    padding: 0 24px
  }

  &__followers-btn {
    text-align: center;
    border-right: solid 1px rgba(255, 255, 255, .3);
    padding: 0 24px
  }

  &__follows-btn {
    text-align: center;
    padding: 0 24px
  }

  &__toggle-btn {
    margin: 24px 0;
    padding: 0 16px 0 24px;
    // border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__fav-btn {
    margin-right: 8px;
    text-align: center;
    height: 36px;
    padding: 8px 24px;
    border: solid black 1px;
    flex: 1 0 45%;
    color: #000;
    border : {
      style: solid;
      color: $medium-gray;
      width: 1px;
      radius: 3px;
    }
    font : {
      family: 'Rift W05 Bold', 'Rift';
      size: 13px;
      weight: bold;
    }

    a {
      color: #000;

      &:hover {
        text-decoration: none;
        // color: #606060;
      }

      &:active {
        background-color: $dark-gray;
        color: #fff;
      }
    }
  }

  &__favorites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__bookmark {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  h2 {
    color: #fff;
    margin: 0;
  }

  h5 {
    color: #fff;
    margin: 0 0 2px 0;
  }

  p {
    color: #fff;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }
}

