.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    padding: 36px 0 0 0;
    background-color: $red;
    width: 100%;
  }

  &__list-item {
    width: 375px;
    background-color: #fff;
  }

  &__content {
    text-align: center;
    padding-bottom: 16px;
  }

  &__avatar {
    padding-bottom: 8px;
  }

  &__infos {

  }

  &__numbers {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $red;

    ul {
      padding-bottom: 36px;
    }

    a {
      text-decoration: none;
    }

    p {
    font-weight: bold;
    color: #fff;
    margin: 0;
    }
  }

  &__reviews {
    text-align: center;
    border-right: solid 1px rgba(255, 255, 255, .3);
    padding: 0 24px
  }

  &__followers {
    text-align: center;
    border-right: solid 1px rgba(255, 255, 255, .3);
    padding: 0 24px
  }

  &__follows {
    text-align: center;
    padding: 0 24px
  }

  h2 {
    color: #fff;
    margin: 0;
  }

  h5 {
    color: #fff;
    margin: 0 0 2px 0;
  }

  p {
    color: #fff;
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0 0 36px 0;
    margin: 0;
  }
}

