<%= simple_form_for([ beer, review ], remote: true) do |form| %>
  <p>Add a review:</p>
  <div id="rating-form">
  </div>
  <%= form.input :title, as: :string %>
  <%= form.input :description, as: :string %>
  <%= form.button :submit, class: "button-m" %>
  <% end %>

<script>
$(document).ready(function() {
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[stars]'
    });
  });
</script>

