<%= simple_form_for([ beer, review ], remote: true) do |form| %>
  <p><%= form.button :submit, class: "button-m" %></p>
  <div id="rating-form">
  </div>
  <p><%= form.input :title, as: :string %></p>
  <p><%= form.input :description, as: :string %></p>
  <% end %>

<script>
$(document).ready(function() {
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[stars]'
    });
  });
</script>

